table, th, td {
    text-align: center;
    font-size: large;
    border-collapse: collapse;
    border-bottom: 1px solid #561212;
    padding: 5px;
}

tr:hover {
    background-color: rgb(144, 200, 163);
}

tr.selected {
    background-color: rgb(144, 200, 163);
}

.numbers {
    width: 100px;
}

.email {
    width: 230px;
}

.text {
    width: 130px;
}

.searchBox {
    margin: 10px;
    display: inline-block;
}

label {
    margin: 10px;
}

input {
    margin: 10px;
}