body {
  margin-left: 10%;
  margin-right: 10%;
}
table,th,td {
  text-align: center;
  font-size: large;
  border-collapse: collapse;
  border-bottom: 1px solid #561212;
  padding: 5px;
}

table {
  margin-top: 40px;
}

tr:hover {
  background-color: rgb(144, 200, 163);
}

tr.selected {
  background-color: rgb(144, 200, 163);
}

.numbers {
  width: 100px;
}

.email {
  width: 230px;
}

.text {
  width: 130px;
}

.searchBox {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: start;
}

.searchContent {
  text-align: right;
  margin-right: 10px;
}


button {
  padding: 10px;
  margin: 10px;
}

.button-right {
  float: inline-end;
}

#form-box {
  display: none;
  position: fixed;
  top: 0;
  left: 0;

  /*The style below is for greying out the background while the form box is in display*/
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.form-content {
  padding: 10px;
  position: fixed;
  top: 10%;
  left: 30%;
  background-color: #fefefe;
  width: 40%;
}

.form-header {
  padding: 2px 16px;
  background-color: #38198d;
  color: white;
}

.fillForm {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}

.item {
  text-align: right;
  padding: 5px;
  margin: 7px;
  font-size: 17px;
}

input {
  width: 60%;
}

.close {
  float: right;
  font-size: 26px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  cursor: pointer;
}
